<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <a href="/" >Inicio</a>
    <form action="/lista_cambio">
        <center>
        <h1>Cambiar dato</h1>
        <div> Campo de cambio: <select name="campo_de_cambio">
            <option value="id_usuario">id usuario</option>
            <option value="nombres">nombre</option>
            <option value="apellidos">apellidos</option>
            <option value="fecha_nacimiento">fecha_nacimiento</option>
            <option value="correo">correo</option>
            
            </select>
        </div>
        <p>Ingrese el numero de documento de identidad </p>

        <div>
            documento de identidad: <input type="number" name="documento_identidad" />
        </div>

        <div>
            cambio: <input type="text" name="cambio"/>
        </div>
        <input type="submit" value="Buscar" />
    </form>
    </center>
</body>

</html>